nav {
  padding: 10px;
  text-align: center;
}
.navbar {
  display: inline;
  margin: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar a:hover {
  border-bottom: 2px solid white;
}
body {
  background-color: #081b29;
  color: white;
}
h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.personal_img img {
  width: 20%;
  height: 20%;
  clip-path: circle();
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: auto;
  background-color: rgba(161, 137, 137, 0.671);
  padding: 10px;
  border-width: 2px solid;
  border-radius: 20px;
  margin: 5px;
}
.html {
  width: 60%;
  background-color: orange;
  padding: 10px;
  border-width: 2px solid;
  border-radius: 20px;
}
.css {
  width: 50%;
  background-color: cyan;
  color: black;
  padding: 10px;
  border-width: 2px solid;
  border-radius: 20px;
}
.js {
  width: 30%;
  background-color: yellow;
  color: black;
  padding: 10px;
  border-width: 2px solid;
  border-radius: 20px;
}
.sql {
  width: 80%;
  background: rgb(69, 69, 177);
  padding: 10px;
  color: white;
  border-width: 2px solid;
  border-radius: 20px;
}
.py {
  width: 60%;
  background: purple;
  padding: 10px;
  border-width: 2px solid;
  border-radius: 20px;
}
.icons {
  margin: 20px;
  background-color: #03111b;
  border-radius: 10px;
  border: 1px solid white;
  padding: 20px;
  width: max-content;
  height: max-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icons a {
  text-decoration: none;
  margin: 10px;
}
.fa-brands.fa-github.fa-2x {
  color: white;
}
.fa-brands.fa-facebook.fa-2x {
  color: white;
}
.fa-brands.fa-steam.fa-2x {
  color: white;
}
.fa-solid.fa-envelope.fa-2x {
  color: white;
}
table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}
table {
  margin-left: auto;
  margin-right: auto;
}
th,
td {
  padding: 10px;
  text-align: center;
}
td {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
th {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.about_me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  background-color: #03111b;
  border-radius: 10px;
  border: 1px solid white;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.Hobbies {
  margin: 20px;
  width: fit-content;
  height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #03111b;
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.RMIT {
  margin: 20px;
  width: fit-content;
  height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #03111b;
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.skills {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #03111b;
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
}
.gallery {
  margin: 5px;
  display: inline-block;
  width: 450px;
}
.Music {
  margin: 10px;
  background-color: #03111b;
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.music_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
